.App {
  text-align: center;
  background-color: pink;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 300px;
  width: 300px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  align-items: center;
  align-content: center;
  padding-top: 30px;
}

.button {
  padding: 40px;
}

.footer {
  padding: 30px;
}

.doge {
  font-family: "Comic Neue", cursive;
  color: yellow;
}

.line1 {
  font-family: "Comic Neue", cursive;
  color: royalblue;
}

.line2 {
  font-family: "Comic Neue", cursive;
  color: green;
}

.line3 {
  font-family: "Comic Neue", cursive;
  color: red;
}

.line4 {
  font-family: "Comic Neue", cursive;
  color: purple;
}

.button-text {
  font-family: "Comic Neue", cursive;
  color: hotpink;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
